<h1>Would you like to work together?</h1>

<hr>

<div class="row">
  <div class="col-md-6">
    <h3>Office Address</h3>

    <p>7150 E Camelback Rd, Suite 444, Scottsdale, AZ 85251</p>

    <h3>Phone</h3>

    <p><%= number_to_phone "4322386131" %></p>

    <h3>Email</h3>

    <p><a href="mailto:test@test.com?subject=PortfolioContact" "email me">Email me</a> </p>
  </div>

  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3145.0631557974134!2d23.731812115256783!3d37.97565540834953!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14a1bd3e9ae497bf%3A0xfd670fde919e017b!2zzqDOuy4gzqPPhc69z4TOrM6zzrzOsc-Ezr_PgiwgzpHOuM6uzr3OsSAxMDUgNjM!5e0!3m2!1sel!2sgr!4v1577377738488!5m2!1sel!2sgr" width="450" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
  </div>
</div>